*{
      margin:0;
    padding: 0;
    box-sizing: border-box;
}



.box{
  border: 2px solid black;
  text-align: center;
  padding: 15px;
  color: green;
  font-weight: bold;
}

.header{
  font-size: 22px;
}

.nav{
  font-size: 18px;
}

.content{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  font-size: 20px;
}

.footer{
  font-size: 18px;
}
