
  body{
    background:#f5f5f5;
  }
  .box{
    background:#cfcfcf;
    padding:20px;
    text-align:center;
    font-weight:600;
    margin-bottom:10px;
    border-radius:4px;
    height: 200px;
    font-size: 30px;
  }
