  
     .container,
      .col-md-4 {
        border: 2px solid rgb(87, 70, 243);
      }

      .col-md-4 {
        height: auto;
      }

      img {
        margin-top: 30px;
      }
    