*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    border: 2px solid black;
    height: 90px;
}
.col{
    border: 2px solid red;
    text-align: center;
    line-height: 90px;
}