*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    border: 3px solid black;
    height: 150px;
}
.col{
    border: 5px solid red;
    height: 100%;
    background-color: yellow;
}