*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 5px solid rgb(0, 0, 0);
    margin-top: 20px;
}

.row{
    height: 100px;
}





.col{
    border: 8px solid black;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
}

