*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
}

.row{
    border: 2px solid red;
    padding: 10px;
    margin-top: 10px;
}