*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
}

.row{
    border: 3px solid rgb(38, 0, 255);
    padding: 15px;
    margin-top: 15px;
}
