*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 3px solid rgb(255, 217, 0);
    height: 600px;
}

.row{
    border: 3px solid black;
    width: 300px;
}

.col-md-2{
    width: 350px;
    border: 3px solid black;
}

h5{
    color: rgb(106, 255, 0);
}


