*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.container{
    margin: 25px auto;
    border: 2px solid black;
 }

 .row{
    height: 40vh;
    border: 3px solid black m  ;
 }

.col-md-2{
    border: 1px solid black;
    height: 40vh;
    
}

