* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
}

.container:hover {
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.1)0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25)0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3)0px 30px 60px -30px;
    transition: 1s;
}

.col-md-1 {
    height: 300px;
}

.accordion1 {
    background: #6a5acd;
}

.accordion2 {
    background: #2980b9;
}

.accordion3 {
    background: #8e44ad;
}

.accordion4 {
    background: #7f8c8d;
}

.accordion5 {
    background: #27ae60;
}

.accordion6 {
    background: #e67e22;
}

.accordion7 {
    background: #c0392b;
}