*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    height: 500px;
}

.row{
    border: 3px solid black;
    width: 250px;
}

.col-md-2{
    width: 250px;
    border: 3px solid black;
}

h5{
    color: rgb(183, 0, 255);
}

