* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
  margin-top:30px;
}





.body{
  background:#111;
  color:white;
}



.col{
  border-radius:10px;
  cursor:pointer;
}
