*{
    box-sizing: border-box;
}

.layout-box{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}


.box-a{
    background-color: #b3e5fc;
}

.box-b{
    background-color: #ffe0b2;
}

.box-c{
    background-color: #c8e6c9;
}

.box-d{
    background-color: #f8bbd0;
}

.box-e{
    background-color: #d1c4e9;
}

.box-f{
    background-color: #fff9c4;
}
