

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
 align-items: center;
 display: flex;
 gap: 80px;
}
.row1{
    height: 500px;
    width: 500px;
    background-color: blue;
    gap: 20px;
}
.row2{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
}
.row3{
    height: 500px;
    width: 500px;
    background-color: rgb(229, 0, 34);
   
}
.row4{
    height: 500px;
    width: 500px;
    background-color: rgb(89, 89, 90);
    gap: 20px;
}

