

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
height: 800px;
width: 800px;
 align-items: center;
 display: flex;
 gap: 70px;
 margin-top: 30px;
 
}
.row1{
    height: 500px;
    width: 500px;
    background-color: blue;
    gap: 20px;
    margin-top: 50px;
}
.row2{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    margin-top: 60px;
}
.row3{
    height: 500px;
    width: 500px;
    background-color: rgb(229, 0, 34);
    margin-top: 70px;
    gap: 20px;
   
}
.row4{
    height: 500px;
    width: 500px;
    background-color: rgb(89, 89, 90);
    gap: 20px;
    margin-top: 80px;
}

.row5{
    height: 500px;
    width: 500px;
    background-color: rgb(76, 40, 40);
    gap: 20px;
    margin-top: 90px;
}
.row6{
    height: 500px;
    width: 500px;
    background-color: rgb(166, 166, 239);
    gap: 20px;
    margin-top: 100px;
}
.row7{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 0, 39);
    gap: 20px;
    margin-top: 120px;
}

