*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 3px solid black;
 
    background-color: cornflowerblue;
   
}

.row{
    height: 700px;
    border: 1px solid black ;
}

.col-md-1{
    
    height: 300px;
    width: 200px;
    border: 2px solid rgb(14, 13, 13);
}