
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#222;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}


.row{
    gap: 10px;
    display: flex;
    height: 350px;
    
}



.col-8, .col-4{
    border:1px solid rgb(255,255,255,0.3);
    padding:20px;
    border-radius:5px;
   
}


.col-6{
    padding:20px;
    border-radius:5px;
    margin-top:10px;
}


.bg-primary{
    background:#0d6efd !important;
}


.bg-success{
    background:#198754 !important;
}


.col-6:hover{
    opacity:0.8;
    transition:0.3s;
}
